{% extends '../index_master.html' %}

{% block content %}
  <!-- page content -->
  <div class="right_col" role="main">
    <h1>Lista de productos</h1>
    <div class="table-responsive">
      <table class="table table-hover table-info border-warning">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cliente</th>
            <th scope="col">Productos</th>
            <th scope="col">Total</th>
            <th scope="col">Tipo pago</th>
            <th scope="col">Estado pedido</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for pedido in pedidos %}
          <tr>
            <th scope="row">{{ pedido.id }}</th>
            <td>{{ pedido.cliente }}</td>
            <td>
              {% for producto_carrito in pedido.carrito %}
                {% for producto in productos %}
                  {% if producto.id_producto == producto_carrito.id_producto %}
                  <p>{{ producto.nombre }}({{producto_carrito.cantidad}})</p>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </td>
            <td>${{ pedido.total }}</td>
            <td>{{ pedido.tipo_pago }}</td>
            <td>{{ pedido.estado }}</td>
            <td>
              {% if pedido.estado == 'pendiente' %}
              <a href="completar/{{pedido.id}}" name="edit" class="btn btn-primary">Enviado</a>
              <a href="cancelar/{{pedido.id}}" name="delete" class="btn btn-danger">Cancelar</a>
              {% endif %}
              {% if pedido.estado == 'enviado' %}
              <a href="pendiente/{{pedido.id}}" name="edit" class="btn btn-warning">Pendiente</a>
              <a href="cancelar/{{pedido.id}}" name="delete" class="btn btn-danger">Cancelar</a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
    
      </table>
    </div>
  </div>
  <!-- /page content -->
{% endblock %}