{% extends '../index_master.html' %}

{% block content %}
  <!-- page content -->
  <div class="right_col" role="main">
    <h1>Lista de categorías</h1>
    <div class="table-responsive">
      <table class="table table-hover table-info border-warning">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Categoría</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for categoria in categorias %}
          <tr>
            <th scope="row">{{ categoria.id_categoria }}</th>
            <td>{{ categoria.categoria }}</td>
            <td>
              <a href="actualizar/{{categoria.id_categoria}}" name="edit" class="btn btn-primary">Modificar</a>
              <a href="eliminar/{{categoria.id_categoria}}" name="delete" class="btn btn-danger">Eliminar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    
      </table>
    </div>
  </div>
<!-- /page content -->
{% endblock %}