{% extends 'bacca/base.html' %}
{% load static %}

{% block content %}
<body class="container-fluid p-0" style="overflow: hidden;">
  <!--BLUR CONTAINER-->
  <div id="blur-filter" style="visibility: visible;"></div>
    {% include './hero.html' %}
    <!--INICIO DE SESION-->
    <div class="form-container" style="visibility: visible;">
      <div class="box">
        <h3>Inicio Sesión</h3>
        <div class="input-box">
          <form id="login-form" method="POST">
            {% csrf_token %}
            <div class="login-box">
              <label for="login_email">Ingrese usuario</label>
              <input
                class="login-input"
                placeholder=""
                name="login_usuario"
                id="login_email"
              />
              <label id="login_email_err"></label>
            </div>
            <div class="password-box login-box">
              <label for="login_clave">Contraseña</label>
              <input
                class="login-input"
                type="Password"
                placeholder="*******"
                name="login_clave"
                id="login_clave"
              />
              <label id="login_clave_err"></label>
            </div>
            {{ error }}
            <div class="mt-5">
              <button class="login-buttons login-btn" type="submit">
                Ingresar
              </button>
              <a href="/">
                <button class="login-buttons cancel-btn" type="button">Cancelar</button>
              </a>
            </div>
          </form>
          <div style="display: flex;">
            <p>No tienes usuario?</p>
            <a class="ml-2" style="color: #de693e;" href="/signup">Crea una cuenta</a>
          </div>
        </div>
      </div> 
    </div>
    <!--END INICIO DE SESION-->
  </div>
</body>
{% endblock %}